//Website theme/bootstrap

// Import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//Custom styles here
$main-blue : #073650;
$hover-blue : #062D42;
$button-blue : #08405E;
$button-hover-blue: #095177;
$light-button-hover: #E8EFF2;
$main-white : #FFF;
$link-white : #FBFEF9;
$card-white : #FEFEFE;
$main-black : #17171A;
$main-black-alpha : rgba(23,23,26,0.25);
$main-black-alpha-hover : rgba(23,23,26,0.15);

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Quicksand', sans-serif;
}

// carousel fix
	.carousel-inner {
		img {
			width: 100%;
			height: 50vh;
			object-fit: cover;
		}
	}

// nav customs
.navbar-brand {
	font-weight: 700;
	text-transform: lowercase;
}

.scrolled {
	background: $main-blue !important;
	transition: background 800ms ease;
}

#navbarNav .nav-item a.nav-link.mx-1 {
  color: $link-white;

	&:hover{
		background: $hover-blue;
		color: $main-white;
		border-radius: 10px;
		transition: background 500ms ease;
	}

	&:active {
		color: $main-white;
		font-weight: 400;
	}
}

#navbarNav .dropdown-menu {
	background: rgba(0,0,0,0);
	border: none;

	a.dropdown-item{
		color: $link-white;

		&:hover{
		background: $hover-blue;
		border-radius: 10px;
		color:$main-white;
		transition: background 500ms ease;
		}
	}

}

button.navbar-toggler {
	border: none;
	padding: 0.25rem;

	i{
		color: $main-white;
	}
}

// hero customs
.hero-content {
	.jumbotron{
		background-size: cover;
		color: $main-white;
		position: relative;
		height: 100vh;
	}

	.jumbotron > * {
		z-index: 10;
		position: relative;
	}
	
	.jumbotron::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background: $main-blue;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.4;
		z-index: 0;
	}

	#lp-jumbotron{
		background: url('../imgs/landingpagehero-bg.jpg');
	}

	#isl-jumbotron{
		background: url('../imgs/islandshero-bg.jpg');
		background-size: cover;
	}

	#resources-jumbotron{
		background: url('../imgs/resourceshero-bg.jpg');
		background-size: cover;
	}

	#abt-jumbotron {
		background: url('../imgs/abouthero-bg.jpg');
		background-size: cover;
	}

	h1.display-4{
		font-weight: 700;
		filter: drop-shadow (1px 2px 4px $main-black-alpha);
	}
	
	p.lead{
		font-weight: 400;
		filter: drop-shadow (1px 2px 4px $main-black-alpha);
		width: 90%;
	}
}

// main customs
a.btn-redirect-link{
	background-color: $button-blue;
	border: none;
	border-radius: 50px;
	box-shadow: 1px 2px 4px $main-black-alpha;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.075rem;
	text-transform: uppercase;
	padding: 0.75rem 2rem;

	&:hover {
		background-color: $button-hover-blue;
		box-shadow: 2px 4px  6px $main-black-alpha-hover;
		transition: 500ms ease;		
	}
}

.resources-content, #discover-content {
	.card{
		background: $card-white;
		border: none;
		border-radius: 15px;
		box-shadow: 1px 2px 4px $main-black-alpha;
		height: 100%;
		overflow: hidden;

		.card-img-top {
			background-size: cover;
			background-position: center;
			width: 100%;
			height: auto;
			object-fit: cover;
		}

		h5.card-title {
			color: $main-black;
			font-size: 2.25rem;
			font-weight: 700;
			margin-bottom: 0.25rem;
		}
		
		a.btn-view,
		.card-body .modal-footer a.btn.btn-primary 
		{
			background-color: $button-blue;
			border: none;
			box-shadow: 1px 2px 4px $main-black-alpha;
			font-weight: 700;
			letter-spacing: 0.075rem;
			text-transform: uppercase;

			&:hover{
				background-color: $button-hover-blue;
				box-shadow: 2px 4px 6px $main-black-alpha-hover;
				transition: 500ms ease;
			}
		}

		.card-body .modal-footer button.btn{
			background-color: none;
			border: none;
			color: $button-blue;
			font-weight: 400;
			letter-spacing: 0.05rem;
			text-transform: uppercase;

			&:hover{
				background-color: $light-button-hover;
				transition: 500ms ease;
			}
		}
	}
}

section.resources-content div.card-header {
	background: $card-white;
	color: $main-blue;
	border: none;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0.075rem;
	text-transform: uppercase;
}

footer.footer-content{
	background: $main-blue;
	color: $main-white;

	a.navbar-brand,
	a.nav-link
	{
		color: $main-white;
	}

	.footer-mainlinks{
		a.nav-link{
			font-weight: 700;
		}
	}

	.footer-sublinks{
		a.nav-link{
			padding: 0.25 0.5rem;
			font-size: 0.75rem;
		}
	}

	ul.social-links {
		list-style: none;
	}
}

//Island Page
a.page-link {
  background: $main-white;
  border: none;
  color: $hover-blue;
  font-weight: bold;
  transition: 200ms ease;

  &:hover {
    background: $hover-blue;
    color: $main-white;
  }

  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.entry-top.iframe-container{
	position: relative;
	padding-bottom: 75%;
	height: 0;
	overflow: hidden;
	
	iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.col-sm-12.entry{
	figure.d-flex.justify-content-center {
		position: relative;

		img{
			background-size: cover;
			height: 100%;
			width: 100%;
		}
	}
}

// Carousel Indicators
.carousel-indicators li {
	height: 6px;
	width: 6px;
	border-radius: 100%;
}

//Resources 

ul.resources-links {
	li.list-group-item {
		border: none;
		h5.res-header {
			font-weight: 700;
			color: $main-blue;
		}
		p.res-text {
			color:$main-black
		}

		em{
			font-weight: 700;
		}

		a.btn.btn-primary.btn-view {
			background-color: $button-blue;
			border: none;
			box-shadow: 1px 2px 4px $main-black-alpha;
			font-weight: 700;
			letter-spacing: 0.075rem;
			text-transform: uppercase;

			&:hover{
				background-color: $button-hover-blue;
				box-shadow: 2px 4px 6px $main-black-alpha-hover;
				transition: 500ms ease;
			}
		}
	}
}

//About

#about {
	.col-sm-12.col-md-6 .iframe-container{
		position: relative;
		padding-bottom: 75%;
		height: 0;
		overflow: hidden;
		
		iframe {
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	a {
		cursor: pointer;
	}
}

#about h3, 
#contact h3{
	font-weight: 700;
	color: $main-blue;
}

#about p,
#contact form {
	color: $main-black;
	.btn.btn-primary.btn-view {
		background-color: $button-blue;
		border: none;
		box-shadow: 1px 2px 4px $main-black-alpha;
		font-weight: 700;
		letter-spacing: 0.075rem;
		text-transform: uppercase;

		&:hover{
			background-color: $button-hover-blue;
			box-shadow: 2px 4px 6px $main-black-alpha-hover;
			transition: 500ms ease;
		}
	}
}

//MEDIA QUERIES
@media screen and (max-height: 480px) {
	.hero-content h1.display-4 {
		font-size: 3.247em;
	}
}

@media screen and (max-width: 375px) {
	#discover-content, .resources-content {
		.card .card-body {
			h5.card-title{
				font-size: 2rem;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.resources-content, #discover-content {
		.card-img-top {
			// height: 400px !important;
			height: 50vh !important;
		}
	}	
}